{{!< layout}}
<h2>Configure</h2>
{{#if success}}
    <div class="aui-message aui-message-success">
        <p>Your settings have been saved</p>
    </div>
{{/if}}
<form class='aui' method='post'>
    <input type='hidden' name='token' value="{{token}}" />
    <div class="field-group">
        <label for="apiKey">Yo API key</label>
        <input class="text" type="text" id="apiKey" name="apiKey" autofocus="" value='{{apiKey}}' autocomplete="off">
    </div>
    <div class="buttons-container">
        <div class='buttons'>
            <input type='submit' class='aui-button aui-button-primary' Value='Save'>
        </div>
    </div>
</form>