<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <meta name="acpt" content="{{signed_request}}">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{hostStylesheetUrl}}"></head>
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.6.10/css/aui.css" media="all">
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.6.10/css/aui-experimental.css" media="all">
  <!--[if lt IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.6.10/css/aui-ie.css" media="all"><![endif]-->
  <!--[if IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.6.10/css/aui-ie9.css" media="all"><![endif]-->
  <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
<body class="aui-page-hybrid addon">
  <section id="content" role="main" class="ac-content">
    {{{body}}}
  </section>
  <script>
    var ACPT = '{{signed_request}}';
  </script>
  {{! <script src="//aui-cdn.atlassian.com/aui-adg/5.6.10/js/aui.js"></script> }}
  {{! <!--[if lt IE 9]><script src="//aui-cdn.atlassian.com/aui-adg/5.6.10/js/aui-ie.js"></script><![endif]--> }}
  <script src="{{hostScriptUrl}}"></script>
  <script src="{{furl '/js/addon.js'}}"></script>
</body>
</html>